.article-project {
  max-width: 1000px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

.article-container {
  max-width: 1200px;
}



/*link formatting*/
:root {
    --lightBlue: #478ca7;
    --lightBlue-code: #8db5f1;
    --lightBlue-hover: #82b5c9; 
    --lightBlue-alpha: rgba(71, 140, 167, 0.3); 
    
    --lightGreen: #4ea500; 
    --lightGreen-hover: #73c46c; 
    --lightGreen-alpha03: rgba(78, 165, 0, 0.3); 
    
    --lightTeal-code: #1bd6d6;
    --darkRed: #951d2d;  
    --darkRed-alpha: rgba(149, 29, 45, 0.3); 
    --lightRed: #c13c40;  /*#c13c40*/
    --lightRed-hover: #cf8383; 
    --lightRed-alpha: rgba(193, 60, 64, 0.3); 
    
    --lightOrange: #d7b572;
    --darkOrange: #cc8800; /*#d7b572*/
    --darkOrange-alpha: rgba(204, 136, 0, 0.3); 
    --darkOrange2: #972D1D;
    --darkOrange-alpha2: rgba(151, 45, 29, 0.3); 
    --darkPink: #a93241;
    --darkPink-alpha: rgba(169, 50, 65, 0.3); 
    
    --lightGrey: #ebebeb;  /*default sidebar link color #ebebeb, rgba(235, 235, 235)*/ 
    --lightGrey-alpha03: rgba(235, 235, 235, 0.3);  
    --lightGrey-alpha06: rgba(235, 235, 235, 0.6);  
    --lightGrey-alpha08: rgba(235, 235, 235, 0.8);  
    --darkGrey-code: #8b9fa7; /*#657b83*/
    --lightGrey-background: #f7f8f8;
    --lightGrey-code: #d6dbdb; /*#bbc4c4*/
    --darkGrey-background: #5a6367;
    --darkGrey-background-alpha08: rgba(59, 68, 68, 0.8); 
    --darkGrey-background-alpha06: rgba(59, 68, 68, 0.6); 
    --darkGrey-background-alpha03: rgba(59, 68, 68, 0.3); 
    --white: #ffffff;
    --white-alpha: rgba(255, 255, 255, 0.95); 
    --transparent: rgba(255, 255, 255, 0); 
    --lightComment: #998;
}

/*highlight.js small tweaks for code snippets*/
.hljs, .quote, .link .class .xml{
   background-color: var(--darkGrey-background) !important; 
   color: var(--lightGrey-code) !important; /*original color: #657b83*/
   border-radius: 0px;
}

.hljs > .comment{
   color: var(--darkGrey-code) !important;
}

.hljs-string{
   color: var(--lightBlue-code) !important;
}

.hljs-number{
   color: var(--lightTeal-code) !important;
}

.hljs-literal{
   color: var(--lightTeal-code) !important;
}

.hljs-keyword{
   color: var(--lightGrey-code) !important;
}

.hljs-selector-tag{
   color: var(--lightGrey-code) !important;
}

.hljs-selector-class{
   color: var(--lightGrey-code) !important;
}

#TableOfContents li a, .toc-top li a {
	padding: 0rem 1rem;
}

#TableOfContents li a {
  font-size: .75rem;
}

.toc-top li a {
  font-size: 1rem;
}

#TableOfContents ul {
  margin-bottom: 0;
}

#TableOfContents, .docs-toc-title {
	border-left: 1px solid $sta-primary;
}
